body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    padding: 0 50px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 14px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    
}
li:hover{
    font-weight: 400;
}
.top-button{
    display: flex;
   
}
.navbar-button{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #EC4067;
    color: white;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    
}
.navbar-button:hover{
    background-color: red;
}
.colored{
    color: #EC4067;

}
.about{
    display: flex;
    align-items: center;
}
.info-container{
    flex: 1;
    padding: 50px;
}
.info-img{
    flex: 1;
    overflow: hidden;
}
.first-img{
    width: 100%;
}
p.top{
    font-weight: 500;
    
}
.about-title{
    font-size: 32px;
    font-weight: 300;
}
p.bottom{
    font-weight:300 ;
    width: 80%;
}
.about-first-button{
    background-color: #EC4067;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    
}
.about-second-button{
    color: #EC4067;
    background-color: white;
    padding: 8px 28px;
    border:1px solid #EC4067;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin:10px ;
}